<a type="button" class="btn btn-link midRightMargin" ui-sref="home.tasks.add">
    <i class="fa fa-plus " aria-hidden="true"></i>
    <span>ADD TASK</span>
</a>
<a type="button" class="btn btn-link filterClass" ng-click="vm.clearCompleted()">
    <i class="fas fa-list-ul "></i>
    <span>CLEAR COMPLETED</span>
</a>
<a type="button" class="btn btn-link filterClass" ng-click="vm.getCompleted()">
    <i class="fas fa-tasks"></i>
    <span>GET COMPLETED</span>
</a>

<a type="button" class="btn btn-link filterClass" ng-click="vm.sortDatewise()">
    <i class="fas fa-sort-amount-down-alt"></i>
    <span>SORT</span>
</a>
<div class="card d-inline-flex shadow" style="width: 10rem;" ng-mouseover="vm.getWeather();">
    <div class="card-body">
        <i class="fas fa-cloud-sun fa-2x card-title"></i>
        <p class="card-text">
        <h3>{{vm.temperature}}</h3><h6>{{vm.dayType}}</h6></p>
    </div>
</div>
<!--<a type="button" class="btn  temperatureClass" ng-mouseover="vm.getWeather();">-->
<!--    <i class="fas fa-cloud-sun fa-2x"></i>-->
<!--    <h3>{{vm.temperature}}</h3><h6>{{vm.dayType}}</h6>-->
<!--</a>-->

<!--<div ng-mouseover="vm.getWeather();" >-->
<!--    <a type="button" class="btn btn-link temperatureClass">-->
<!--        <i class="fas fa-cloud-sun fa-3x"></i>-->
<!--    </a>-->
<!--<h2>{{vm.temperature}}</h2><h5>{{vm.dayType}}</h5>-->
<!--</div>-->


<!--&lt;!&ndash; Material inline 1 &ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-check ">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="checkbox" class="form-check-input" id="materialInline1">&ndash;&gt;-->
<!--&lt;!&ndash;    <label class="form-check-label" for="materialInline1">1</label>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<ul class="list-group list-group-flush">
    <!--    <li ng-repeat="task in vm.taskList | orderBy:['!dueDate','dueDate'] " class="list-group-item form-check" >-->
    <li ng-repeat="task in vm.taskList  " class="list-group-item form-check">
        <input class="form-check-input " type="checkbox" value="" id="invalidCheck" ng-click="vm.toggleState(task)"
               ng-checked="task.completed">
        <button type="button" class="close pull-right"
                aria-label="Close" ng-click="vm.deleteTask(task)">
            <span aria-hidden="true">&times;</span>
        </button>
        <button class="btn  float-right" ng-click="vm.openEditTask(task)" ui-sref="home.tasks.edit">
            <i class="fas fa-edit"></i></button>
        <!--        <button class="btn  float-right" >-->
        <!--            <i class="fas fa-edit"></i></button>-->
        <span ng-class="{strike:task.completed}">
                {{task.taskName | uppercase}}
        </span>
        <!--        <span class="badge badge-pill badge-primary" >{{task.dueDate}}</span>-->
        <span class="badge badge-pill  "
              ng-class="vm.getClass(task.category)">{{task.dueDate| date:'yyyy-MM-dd' }}</span>
        <!--        <span class="label " ng-class="vm.getClass(task.category)" >{{task.dueDate| date:'yyyy-MM-dd' }}</span>-->
    </li>
</ul>