<div class="containter formMainBody">
    <div class="jumbotron">
        <h1 class="display-4">Edit your task!!</h1>
        <!--        {{vm.data}}-->
        <!--        {{vm.dueDate}}-->
    </div>
    <form name="taskForm" class="text-center">

        <div class="alert alert-danger" role="alert" ng-show="taskForm.$dirty && !taskForm.$valid">
            Please enter valid item!
        </div>
        <div class="form-group">
            <input name="item" type="text" class="form-control" placeholder="Edit task" required ng-model="vm.data"
                   ng-minlength="3">
            <input type="number" class="form-control" min="0" max="10" placeholder="Importance (1-10)"
                   ng-model="vm.category" value="{{vm.category}}">
            <input type="datetime-local" class="form-control" ng-model="vm.dueDate"
                   value={{vm.dueDate|date:'yyyy-MM-ddThh:mm'}}>

        </div>
        <button type="submit" class="btn btn-success float-left" ui-sref="home.tasks" ng-click="vm.editTask()">
            <i class="fa fa-check-square " aria-hidden="true"></i>
            <span>SAVE TASK</span>
        </button>
        <button type="button" class="btn btn-secondary float-right" ui-sref="home.tasks">
            <i class="far fa-window-close"></i>
            <span>CANCEL</span>
        </button>
        <!--        <a href="#!/" class="form-control btn-secondary">-->
        <!--            <i class="fa fa-trash" aria-hidden="true">Cancel</i>-->
        <!--        </a>-->
    </form>
</div>