.strike{
    text-decoration: line-through;
}
.filterClass{
    color: #5C6BC0;
    margin-right: 3%;
}
.midRightMargin{
    margin-right: 3%;
}
.temperatureClass{
    color: #616161;
    /*color: #0277BD;*/
}
.smallRightMargin{
    margin-right: 3%;
}
.marginTopClass{
    margin-top: 2%;
}